.navbar {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    font-family: Rockwell;
    height: 40px;
}

.navbar-link {
    display: flex;
    list-style: none;
    font-size: 12px;
    font-family: Trebuchet MS;
}

.collapse {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    flex: 0 0 120px;
    align-items: center;
    justify-content: left;
    margin-left: 1rem;
    font-size: 16px;
    font-weight: bold;
    color: rgb(150, 0, 0);
}